*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: MontserratSemiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: MontserratMedium;
  src: url(../fonts/Montserrat-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: MontserratNormal;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-display: swap;
}
body{
  background-color: black;
}

.main {
  background-image: radial-gradient(
    circle,
    #e50909,
    #ce1414,
    #b81616,
    #a21616,
    #8c1212,
    #7f0f0f,
    #720b0b,
    #660707,
    #5e0707,
    #560808,
    #4f0909,
    #470a0a
  );
  padding-top: 40px;
  padding-bottom: 106px;
}

.main-container {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-plan {
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 2px;
  padding-bottom: 30px;
}

.plan-header {
  background-color: #001c1c;
  padding: 20px 31px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 24px;
}

.line {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  object-fit: contain;
}

.plan-header-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}
.plan-header-bottom-text {
  font-family: MontserratSemiBold, sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}
.plan-header-bottom-text:nth-child(2) {
  margin-left: 20px;
}

.plan-title {
  font-family: MontserratBold, sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  padding: 20px 20px;
  background-color: #0d0d0d;
  border-radius: 8px;
  color: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  margin-bottom: 10px;
}
.plan-date {
  font-family: MontserratNormal, sans-serif;
  font-size: clamp(12px, 3.9vw, 18px);
  text-align: center;
  margin-bottom: 11px;
  font-weight: normal;
}
b {
  font-family: MontserratBold, sans-serif;
  font-weight: 700;
}
.plan-description {
  font-family: MontserratBold, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.center {
  padding: 0 20px;
}
.plan-select-now {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: MontserratNormal, sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 5px;
}
.plan-list {
  max-width: 323px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
.form__col {
  display: grid;
  grid-template-columns: 1fr;
}

.label {
  font-family: MontserratSemiBold, sans-serif;
  font-size: 16px;
  margin-bottom: 2px;
}
.input {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  font-size: 18px;
  width: 100%;
}

.plan-list-btn {
  font-family: MontserratSemiBold, sans-serif;
  width: 100%;
  text-align: center;
  background-color: #12a3a3;
  border: 1px solid #12a3a3;
  padding: 9px 31px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

footer {
  background-color: #000;
  padding: 40px 0px;
  color: #fff;
  text-align: center;
}

.footer-container {
  max-width: 384px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.footer-title {
  font-family: MontserratMedium, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.contact {
  font-family: MontserratBold, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.address,
.disclaimer {
  font-family: MontserratNormal, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.disclaimer {
  text-align: center;
  max-width: 321px;
  margin-left: auto;
  margin-right: auto;
}

.footer__number {
  padding: 0 8px;
  border: 1px solid white;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-family: MontserratNormal, sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

select{
  color: #000;
}

.footer__link-telegram {
  background-color: #d1444e;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 289px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: MontserratNormal, sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
.footer__link-offerta {
  font-family: MontserratNormal, sans-serif;
  font-size: 16px;
  color: white;
}

@media(max-width: 490px){
  
.plan-description {
  font-size: 15px;
}
.plan-header-bottom-text {
  font-size: 12px;
}
}