*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: black;
  color: white;
}

.container {
  padding: 32px 0;
}

.card {
  max-width: 512px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 12px;
}

@media (min-width: 640px) {
  .card {
    padding: 32px;
  }
}

.check-icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #22c55e; /* Green-500 equivalent */
}

.title {
  margin: 20px 0;
  font-size: 1.875rem; /* 30px, equivalent to text-3xl */
  font-weight: 600;
  text-align: center;
  background: linear-gradient(#ffd87b, #f6b703);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.125rem; /* 18px, equivalent to text-lg */
  font-weight: 500;
}

.confirmation-box {
  padding: 12px;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  margin-bottom: 20px;
}
.confirmation-box> p{
    line-height: 1.5;
}

.confirmation-title {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(#ffd87b, #f6b703);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.divider {
  margin: 5px 0;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.button-link {
  display: block;
  text-decoration: none;
}

.button-container {
  position: relative;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem; /* 16px, equivalent to text-base */
  font-weight: 500;
  color: white;
  background: #d1444e;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.contact-button:hover {
  background: #2d2d2d; /* Stone-800 equivalent */
}

.telegram-icon {
  width: 24px;
  height: 24px;
}
.phoneNumber{
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-top: 20px; 
  display: flex;
  justify-content: center;
  color: white;
}